<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServerEx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록 -->
  <servlet>
  <servlet-name>HelloServlet</servlet-name>
  <!-- 1) 서블릿 검색을 위한 이름 -->
  <servlet-class>com.bit.servlet.HelloServlet</servlet-class>
  <!-- 2) 서블릿의 실제 클래스 패키지와 클래스명 -->
  </servlet>
  
  <!-- 서블릿 매핑: 실제 서블릿 클래스가 어떤 url에 응답을 돌려줘야 할지 -->
  <servlet-mapping>
  <!-- 3) url 패턴에 응답해야 할 서블릿의 이름 -->
  <servlet-name>HelloServlet</servlet-name>
  <!-- 4) 서블릿이 응답을 돌려주기 위해 반응할 url 패턴 -->
  <url-pattern>/hs</url-pattern>
  </servlet-mapping>
  
  <!-- 요청 /hs -> 4) -> 3) -> 1) -> 2) -> 브라우저에 응답 -->
</web-app>